/* body { */
/*     background-color: grey; */
/* } */

.reveal {
  /* color: green; */
  /* color: white; */
  /* color: #eee8d5; */
  font-size: 28px;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  /* color: green; */
  text-transform: none;
}

.reveal table th, .reveal table td {
  font-size: 0.5em;
  text-align: center;
}

.reveal blockquote {
  border-radius: 5px;
}

.reveal section img {
  border: 0px;
}

.reveal div.definition {
  text-align: left;
  border-radius: 10px;
  line-height: 1.3;
  display: block;
  position: relative;
  width: 70%;
  margin: 10px auto;
  padding: 10px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

div.definition::before {
  content: "Definition";
  font-weight: bolder;
  text-decoration: underline;
}

.reveal pre {
  /* background-color: #002b36; */
  padding: 0.5em;
}

pre.example {
  /* line-height: 1.3em; */
  /* background-color: #002f3c; */
  /* color: #9c9c9c; */
  overflow: auto;
  max-height: 400px;
  border-radius: 5px;
}

pre.example::before {
  content: "[output]";
  opacity: 0.3;
  font-size: 0.75em;
  /* Right-align it */
  position: absolute;
  right: 0.5em;                 /* Same as padding of `pre.example` */
}

/* Src blocks */
pre.src {
  border-radius: 5px;
}

.reveal pre code {
  display: block;
  overflow: auto;
  max-height: 600px;
  word-wrap: normal;
}

/* specific langs */
.reveal pre.src-julia code::before {
  content: "[julia]";
  opacity: 0.3;
  font-size: 0.75em;
  /* Right-align it */
  /* Right-align it */
  position: absolute;
  right: 0.5em;                 /* Same as padding of `code` */
}

.reveal pre.src-sh code::before {
  content: "[sh]";
  opacity: 0.3;
  font-size: 0.75em;
  /* Right-align it */
  /* Right-align it */
  position: absolute;
  right: 0.5em;                 /* Same as padding of `code` */
}


div#table-of-contents {
  font-size: 12px;
}

.figure > p > object,
.figure > p > img {
  /* border: 2px solid rgba(0, 0, 0, 0.3); */
  /* border-radius: 10px; */
  /* box-shadow: 2px 5px rgba(0, 0, 0, 0.3); */
}

/* Special cases */
#mvnormal-comparison div.figure {
  width: 35%;
  display: inline-block;
}

div.figure p:first-child {
  margin: 10px 0;
}

div.figure p:last-child {
  font-size: 0.5em;
  margin: 0 0 10px 0;
}


/* HEADERS AND FOOTERS */
/* 1. Style header/footer <div> so they are positioned as desired. */
#header-left {
  position: absolute;
  top: 0%;
  left: 0%;
}

#header-logo {
  height: 50px;
  padding: 20px;
}

#header-right {
  position: absolute;
  top: 0%;
  right: 0%;
}
#footer {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  /* margin: 0 auto; */
  display: flex;
}

#footer > div {
  width: 100%;
}

#footer div img {
  height: 40px;
  width: 200px;
  margin: 0 auto;
}

#footer-logo {
  /* background: url(figures/juliacon2020-background.png); */
  /* background-size: cover; */

  height: 100px;

  font-size: 1.5em;
  display: flex;
}

#footer-logo strong {
  margin: 90px auto;
}

#footer-logo sup {
  background-color: #0d3640;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}


/* GENERAL CUSTOMIZATION */

.side-by-side {
  display: inline-flex;
}

.small-text {
  font-size: 0.75em;
}

.x-small-text {
  font-size: 0.5em;
}

.TASK {
  color: red;
}

.SOLUTION {
  color: lawngreen;
}

.WARNING {
  color: orange;
}
